$guters: 2rem;

#container19 {
    max-width: 100vw;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    // max-height: 570px; /* Set the maximum height to 570px */
    overflow: hidden; /* Hide any content that overflows the container's height */
  }

  

  .style1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; /* Fill the entire available height inside #container19 */

    p{
        color: rgba(0,0,0,0.302);
        
        letter-spacing: 0.025rem;
        width: calc(100% + 0.025rem);
        font-size: 1.225em;
        line-height: 1.875;
        font-weight: 400;
    }
  }
  
  /* Optional: To add some spacing between the elements */
  .style1 h2 {
    margin-bottom: 1rem;
    color: #000000;
    /* font-family: 'Klavika Medium', sans-serif; */
    letter-spacing: 0.025rem;
    width: calc(100% + 0.025rem);
    font-size: 2.15em;
    line-height: 1.875;
    font-weight: 400;
  }
  
  /* Ensure the image maintains its aspect ratio and covers the container */
  .style1 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }



  .custom-height .style1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .custom-height .style1 .frame {
    display: block;
    background-image: none;
    background-size: 100% 100%;
    background-position: left top;
    background-repeat: no-repeat;
    width: 100%;
    height: 31rem;
    
  }

                     //  for show effect animation
  .custom-height .style1 {
    opacity: 0;
    transition: opacity 1s ease;
  }

  /* Add CSS transitions for the slide-up effect */
.custom-height .style1 {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease, transform 0.5s ease;
  }
  
  .custom-height .style1.visible {
    opacity: 1;
    transform: translateY(0);
  }

  /* Add CSS transitions for the image size change */
.custom-height .style1 img {
    transition: transform 1s ease;
  }
  
  .custom-height .style1.visible img {
    transform: scale(1.2);
  }

   

   .style1 {
    opacity: 0;
    transition: opacity 1s ease;
  }

  /* Add CSS transitions for the slide-up effect */
 .style1 {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease, transform 0.5s ease;
  }
  
   .style1.visible {
    opacity: 1;
    transform: translateY(0);
  }

  /* Add CSS transitions for the image size change */
 .style2  {
    opacity: 0;
    transition: opacity 1s ease;
  }
  
   .style2.visible {
    opacity: 1;
  }

  //end show Animation

    // fullsize elements
.container.style1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.container.style1:not(:first-child) {
    margin-top: 7rem;
}
.container.style1:not(:last-child) {
    margin-bottom: 6rem;
}
.container {
    position: relative;
}

#image11{
    border-radius: 0 !important;
    max-width: 100vw;
    position: relative;
    width: 100%;
    left: 50%;
    margin-left: -50vw;
    right: auto;

    span.frame{
        display: block;
        background-image: none;
        background-size: 100% 100%;
        background-position: left top;
        background-repeat: no-repeat;
        height: 39.625rem;

        img{
            opacity: 1;
            height: 100% !important;
            object-fit: cover;
            object-position: center;
            width: 100% !important;
            border-radius: 0 !important;
            max-width: 100%;
            vertical-align: top;
        }
    }
}

#image11_2{
  border-radius: 0 !important;
  max-width: 100vw;
  position: relative;
  width: 100%;
  left: 50%;
  margin-left: -50vw;
  right: auto;

  span.frame{
      display: block;
      background-image: none;
      background-size: 100% 100%;
      background-position: left top;
      background-repeat: no-repeat;
      height: 39.625rem;

      img{
          opacity: 1;
          height: 100% !important;
          object-fit: cover;
          object-position: center;
          width: 100% !important;
          border-radius: 0 !important;
          max-width: 100%;
          vertical-align: top;
      }
  }
}


                                        // NEWS ELEMENTS
  .hidden{
    display: none;
  }      
  #slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
}

#slider-container .newsH2 {
    margin-top: 2rem;
    /* display: none; */
    
    color: #000000;
    letter-spacing: 0.025rem;
    
    font-size: 2.75em;
    font-weight: 700;
    margin-bottom: 50px;
}

.wrapper1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem; /* Отступ между элементами */
}

.inner1 {
  display: flex; /* Добавляем flex-свойство для расположения .slider-item в ряд */
  padding-left: 70px;
}

/* Добавляем стили для анимации переходов */
.slider-item {
    width: 360px; /* Задаем ширину слайда */
    
    overflow: hidden; /* Ограничиваем размеры изображения внутри слайда */
    transition: transform 0.5s;
    margin-right: 1rem; /* Отступ между слайдами */
    margin-right: 105px; /* Устанавливаем расстояние между слайдами */
}

.slider-item:last-child {
    margin-right: 0; /* Убираем отступ для последнего слайда */
}

.slider-item img {
    width: 360px; /* Задаем ширину изображения внутри слайда */
    height: 350px; /* Задаем высоту изображения внутри слайда (высота всегда будет 350px) */
    object-fit: fill; 
}

.slider-item h2 {
  margin-bottom: 65px; /* Устанавливаем отступ между заголовком и картинкой */
  color: #000000;
  letter-spacing: 0.025rem;
  width: calc(100% + 0.025rem);
  font-size: 2.15em;
  font-weight: 400;
  overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.slider-item p {
  margin-top: 65px; /* Устанавливаем отступ между картинкой и параграфом */
  color: rgba(0, 0, 0, 0.302);
  letter-spacing: 0.025rem;
  width: calc(100% + 0.025rem);
  font-size: 1.225em;
  line-height: 1.875;
  font-weight: 400;
  word-wrap: break-word;
}


        /* Стили для кнопок "Previous" и "Next" */
.slick-prev,
.slick-next {
  font-size: 24px; /* Размер символов стрелок */
  color: #000; /* Цвет стрелок */
  background: none; /* Убираем фон у кнопок */
  border: none; /* Убираем границу у кнопок */
  cursor: pointer; /* Делаем курсор при наведении на кнопки указателем */
  position: absolute; /* Позиционируем кнопки абсолютно внутри родительского контейнера */
  top: 50%; /* Размещаем кнопки на вертикальном центре родительского контейнера */
  transform: translateY(-50%); /* Корректируем позицию кнопок по вертикали */
}

.slick-prev {
  left: 0; /* Кнопка "Previous" размещается слева */
}

.slick-next {
  right: 0; /* Кнопка "Next" размещается справа */
}                                                


/* Добавляем стили для анимации переходов и скрытия элементов */



.slider-item {
  transition: transform 0.5s;
}

.animate-in {
  transform: translateX(0);
}

.animate-out-left {
  transform: translateX(-100%);
}

.animate-out-right {
  transform: translateX(100%);
}


                          //END NEWS Elements


                // MAPS AND INFO ELEMENTS
.map-container {
  width: 550px;
  height: 370px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

/* Стили для встроенной карты */
.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.unsere {
  margin-bottom: 30px;
}

.info__adresse {
  font-size: 34px;
  color: #414042;
  font-weight: 600;
}

.info__info {
  font-size: 18px;
  line-height: 1.55;
  font-weight: 400;
  color: #424144;

  strong {
    font-weight: 700;
  }

  p {
    margin-bottom: 30px;
  }
           //End MAPS AND INFO ELEMENTS

  
}

                            //END MAPS AND INFO ELEMENTS
  @media (min-width: 1025px) {
    #container19 {
      max-height: 570px; /* Set the maximum height to 480px for smaller screens */
    }

    .custom-height {
        max-height: 570px; /* Set the maximum height to 570px for larger screens */
        overflow: hidden; /* Hide any content that overflows the div's height */
      }

    #container01 .wrapper{
        width: 70%;
        margin: 0 auto;
    }

    #container02 .wrapper{
      width: 70%;
      margin: 0 auto;
  }
}

@media (max-width: 1200px){
            //MAP ELEMENTS
  .Map__El {
    text-align: center;
  }
  .map-container {
    padding-bottom: 50%;
  }

  .info__adresse {
    font-size: 28px;
  }

  .info__info {
    font-size: 16px;
  }

}

  @media (max-width: 1024px) and (min-width: 768px) {
    #container19 {
      max-height: 480px; /* Set the maximum height to 480px for smaller screens */
    }

    .custom-height {
        max-height: 480px; /* Set the maximum height to 480px for medium-sized screens */
        overflow: hidden; /* Hide any content that overflows the div's height */
      }

    .custom-height .style1 .frame {
        background-image: none;
        background-size: 100% 100%;
        background-position: left top;
        background-repeat: no-repeat;
        width: 100%;
        height: 33rem;

    }

    #container01 .wrapper{
        width: 85%;
        margin: 0 auto;
    }

    #container02 .wrapper{
      width: 85%;
      margin: 0 auto;
  }

    #image11{
      span.frame{
          height: 35rem;
      }
    }

    #image11_2{
      span.frame{
          height: 35rem;
      }
    }

                            // MAPS AND INFO ELEMENTS

  /* Стили для мобильных устройств */
  .Map__El {
    text-align: center;
  }

  .map-container {
    padding-bottom: 50%;
  }

  .info__adresse {
    font-size: 28px;
  }

  .info__info {
    font-size: 16px;
  }
                          //END MAPS AND INFO ELEMENTS
}

@media (max-width: 767px) and (min-width: 481px)  {
    .col-lg-6,
    .col-md-6,
    .col-sm-12 {
        min-height: 300px;
        overflow: hidden; /* Hide any content that overflows the columns' height */
    }
    
    /* Set the maximum height of .custom-height to 300px for mobile screens */
    .custom-height {
        min-height: 300px;
        overflow: hidden; /* Hide any content that overflows the div's height */
    }

    #container01 {
        margin-top: 5rem;
    }

    #container01 > .wrapper > .inner{ 
        padding: 0px 2rem;
    }

    #image11{
        span.frame{
            height: 25rem;
        }
    }

    #container02 {
      margin-top: 5rem;
  }

  #container02 > .wrapper > .inner{ 
      padding: 0px 2rem;
  }

  #image11_2{
      span.frame{
          height: 25rem;
      }
  }


                        // MAPS AND INFO ELEMENTS

/* Стили для мобильных устройств */
.Map__El {
  text-align: center;
}

.map-container {
  padding-bottom: 50%;
}

.info__adresse {
  font-size: 28px;
}

.info__info {
  font-size: 16px;
}
                         //END MAPS AND INFO ELEMENTS
}


@media (max-width: 480px)  {

    .custom-height .style1 .frame {
        display: block;
        height: 20rem;
        overflow: hidden;
      }

    #container01 {
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    #container01 > .wrapper{ 
        padding: 0px 5px;
    }

    #image11{
        span.frame{
            height: 20rem;
            
        }
    }

    #container02 {
      margin-top: 3rem;
      margin-bottom: 2rem;
  }

    #container02 > .wrapper{ 
        padding: 0px 5px;
    }

    #image11_2{
        span.frame{
            height: 20rem;
            
        }
    }

}