@charset "UTF-8";
* {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

/* Стили для header */
#container26 {
  background-image: url("/img/zyro-image.png"); /* Change the URL to point to the local image */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
  color: white;
}

.t-cover__filter {
  top: 0;
  left: 0;
  height: 739px;
  background-image: -webkit-linear-gradient(top, rgba(26, 73, 87, 0.9), rgba(25, 92, 112, 0.7));
  position: absolute;
  width: 100%;
  z-index: 0;
}

#img1 {
  position: relative;
  left: 40px;
  padding: 5px;
}

/* Стили для текста внутри header */
#text03, #text26 {
  opacity: 1;
  transform: none;
  text-align: center;
}

/* Стили для списка и его элементов (если необходимо) */
ul.style1 {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.style1 li {
  margin: 0 10px;
}

nav.navbar {
  width: 90vw;
  max-width: 1160px;
  min-height: 12vh;
  margin: 0 auto; /* Выравниваем по центру */
  background: white;
}

#navbarNav {
  justify-content: center;
}

ul.navbar-nav li {
  margin-right: 15px; /* Добавляем правый отступ 15px между элементами */
  font-size: 15px;
}
ul.navbar-nav li a {
  color: black;
}

/* Открывать выпадающее меню при наведении */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Стилизация выпадающего меню */
.dropdown-menu-horizontal {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 0; /* Уберите верхний и нижний паддинг */
  min-width: 200px;
  z-index: 1000;
}

/* Уберите верхний отступ у первого элемента меню */
.dropdown-menu-horizontal .dropdown-item:first-child {
  margin-top: 0;
}

/* Добавьте нижнюю границу и отступы для разделения между пунктами меню */
.dropdown-menu-horizontal .dropdown-item {
  margin: 0; /* Уберите верхний и нижний отступ */
  display: block;
  width: 100%;
  padding: 10px 20px;
  clear: both;
  font-weight: normal;
  color: #333;
  white-space: nowrap;
  border-radius: 0;
  transition: background-color 0.3s ease-in-out;
  line-height: normal;
  border-bottom: 1px solid #ddd; /* Добавьте нижнюю границу */
}

/* Уберите нижнюю границу у последнего элемента меню */
.dropdown-menu-horizontal .dropdown-item:last-child {
  border-bottom: none;
}

.dropdown-menu-horizontal .dropdown-item:hover {
  background-color: #f0f0f0;
  color: rgb(226, 203, 129);
}

.mobilePhone_Email {
  position: relative;
  right: 20px;
}

.sp-black {
  font-size: 14px;
  color: black;
}

a.sp-black {
  text-decoration: none;
}

a.sp-black:hover {
  color: rgba(21, 222, 64, 0.9);
}

.sp-black-inst:hover {
  color: rgb(59, 81, 234);
}

.i-black {
  margin-right: 10px;
  font-size: 14px;
  color: black;
}

.instagram {
  font-size: 24px;
}

h1.studio {
  font-size: 42px;
  margin-top: 40px;
}

.praktik {
  margin-top: 60px;
}

.praktik span {
  font-weight: 400;
  font-size: 20px;
}

@media (max-width: 1124px) {
  /* Уменьшаем ширину header на маленьких экранах */
  header {
    width: 100%;
  }
  nav.navbar {
    width: 100%;
    margin: 0 auto; /* Выравниваем по центру */
    background: white;
  }
  h1.studio {
    font-size: 42px;
    margin-top: 40px;
  }
}
@media (min-width: 992px) {
  .mobilePhone_Email__top {
    display: none !important;
  }
}
@media (max-width: 991px) and (min-width: 481px) {
  /* Стили для выпадающего меню в кнопке бургера */
  .navbar-toggler {
    background-color: transparent; /* Убираем фон кнопки */
    color: black; /* Цвет значка бургера */
    font-size: 24px; /* Размер значка бургера */
  }
  /* Центрирование пунктов меню в выпадающем меню */
  .navbar-collapse {
    text-align: center; /* Выравниваем текст по центру */
    margin-right: 80px;
  }
  /* Стили для пунктов меню в выпадающем меню */
  .navbar-collapse ul.navbar-nav li.nav-item {
    margin: 15px 0; /* Отступы между пунктами меню */
  }
  /* Стили для ссылок в пунктах меню в выпадающем меню */
  .navbar-collapse ul.navbar-nav li.nav-item a.nav-link {
    color: black; /* Цвет текста ссылок */
    font-size: 18px; /* Размер текста ссылок */
    text-decoration: none; /* Убираем подчеркивание ссылок */
    transition: color 0.3s; /* Плавное изменение цвета при наведении */
  }
  /* Стили для активной ссылки в выпадающем меню */
  .navbar-collapse ul.navbar-nav li.nav-item a.nav-link.active {
    color: rgba(21, 222, 64, 0.9); /* Цвет активной ссылки */
  }
  /*стили для нижних 3-х элементов кнопки меню*/
  .navbar-collapse.collapse.show .navbar-nav.ml-auto {
    justify-content: center !important;
  }
  .btn__header {
    margin: 0 auto;
  }
  .mobilePhone_Email__bottom {
    display: none !important;
  }
  .header__price__h1 {
    width: 94vw;
  }
}
@media (max-width: 480px) {
  /* Стили для выпадающего меню в кнопке бургера */
  .navbar-toggler {
    background-color: transparent; /* Убираем фон кнопки */
    color: black; /* Цвет значка бургера */
    font-size: 24px; /* Размер значка бургера */
  }
  /* Центрирование пунктов меню в выпадающем меню */
  .navbar-collapse {
    text-align: center; /* Выравниваем текст по центру */
  }
  /* Стили для пунктов меню в выпадающем меню */
  .navbar-collapse ul.navbar-nav li.nav-item {
    margin: 15px 0; /* Отступы между пунктами меню */
  }
  /* Стили для ссылок в пунктах меню в выпадающем меню */
  .navbar-collapse ul.navbar-nav li.nav-item a.nav-link {
    color: black; /* Цвет текста ссылок */
    font-size: 18px; /* Размер текста ссылок */
    text-decoration: none; /* Убираем подчеркивание ссылок */
    transition: color 0.3s; /* Плавное изменение цвета при наведении */
  }
  /* Стили для активной ссылки в выпадающем меню */
  .navbar-collapse ul.navbar-nav li.nav-item a.nav-link.active {
    color: rgba(21, 222, 64, 0.9); /* Цвет активной ссылки */
  }
  /*стили для нижних 3-х элементов кнопки меню*/
  .navbar-collapse.collapse.show .navbar-nav.ml-auto {
    justify-content: center !important;
  }
  #img1 {
    left: 20px;
  }
  .mobilePhone_Email {
    margin: 0px auto;
    right: 0px;
  }
  .btn__header {
    margin: 0 auto;
  }
  .mobilePhone_Email__bottom {
    display: none !important;
  }
  .header__price__h1 {
    width: 94vw;
  }
}
